$primary-color: #1c1d20;
$secondary-color: linear-gradient(180deg, rgba(255,158,0,1) 0%, rgba(252,74,26,1) 100%);
$tertiary-color: linear-gradient(180deg, rgba(143,61,217,1) 0%, rgba(105,66,165,1) 100%);
$fountain-color: #26d513;
$font-color: #d9d9d9;
$font-family: 'Montserrat', 'sans-serif';